* {
    margin: 0;
    padding: 0;
    background-color: #000032;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
    text-align: center;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.info_intro,
.info_activity,
.info_current-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.intro_title,
.activity_title,
.current-member_title,
.manager_title,
.member_title {
    font-size: 40px;
    font-weight: bolder;
    margin: 15px 0;
    padding: 45px 0 0;
}

.manager_title {
    padding: 10px 0 0;
}

.member_title {
    padding: 25px 0 0;
}

.intro_content,
.activity_content,
.manager_list,
.member_list {
    font-size: 25px;
}

.content_manager,
.content_member {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.manager_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
}

.member_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 850px;
}

.list_profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_img {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
}

.profile_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 25px;
}

.info_select {
    text-align: left;
    font-size: 23px;
    font-weight: 500;
    width: 100%;
    margin-top: 15px;
    padding-left: 20px;
}

#termText {
    text-decoration: underline;
    color: white;
    font-style: italic;
    margin-right: 5px;
}

#termSelect {
    font-size: 22px;
    font-weight: bold;
    border: none;
}

#studyIcon {
    position: fixed;
    bottom: 100px;
    right: 150px;
    font-size: 150px;
    cursor: pointer;
    background-color: transparent;
}
