* {
    margin: 0;
    padding: 0;
    background-color: #000032;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
    text-align: center;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 75%;
}

#calendar {
    max-width: 650px;
}

.confirm {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
}

.voca_title,
.weekly-time_title,
.dayily-time_title {
    font-size: 28px;
    font-weight: 600;
}

.voca_day {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.daily {
    color: #000032;
    font-weight: 600;
    font-size: 20px;
    width: 70px;
    height: 70px;
    background-color: #bbe7ff;
    border-radius: 50%;
    line-height: 70px;
    margin: 10px 10px;
}

.weekly-time_content {
    font-size: 90px;
    font-weight: 900;
}

.dayily-time_content {
    font-size: 60px;
    font-weight: 600;
}

#studyIcon {
    position: fixed;
    bottom: 100px;
    right: 150px;
    font-size: 150px;
    cursor: pointer;
    background-color: transparent;
}

/* #no {
  background-color: #ffbbbb;
  color: #8a0606;
} */
