* {
    margin: 0;
    padding: 0;
    background-color: #000032;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 180px);
}

.writing {
    border: 3px solid white;
    width: 70%;
    height: 350px;
    border-radius: 20px;
    text-align: left;
    padding: 20px 50px;
    margin-bottom: 5px;
}

.comment {
    border: 3px solid white;
    width: 70%;
    height: 80px;
    border-radius: 15px;
    text-align: left;
    padding: 15px 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#sort {
    font-size: 25px;
}

#inputTitle {
    font-size: 30px;
    font-weight: bold;
}

#inputContent {
    font-size: 20px;
}

#writer {
    font-size: 23px;
    font-weight: bold;
}

#cmtContent {
    font-size: 20px;
}

#inputCmt {
    width: 2500px;
    height: 35px;
    padding: 10px 15px;
    line-height: 50px;
    text-align: left;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
}

#inputCmt::placeholder {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.writeCmt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 20px;
    width: 65%;
}

#cmtBtn {
    font-size: 22px;
    font-weight: 700;
    padding: 5px 10px;
    width: 270px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    color: #000032;
}

#cancelBtn {
    font-size: 22px;
    font-weight: 700;
    padding: 5px 10px;
    width: 270px;
    height: 60px;
    background-color: #000032;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
}
