* {
    margin: 0;
    padding: 0;
    background-color: #000032;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
    text-align: center;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.writing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.writing_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid white;
    width: 1500px;
    height: 550px;
}

.input_sort {
    width: 1470px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}

.input_sort select {
    width: 150px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    border: none;
}

.input_title textarea {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: left;

    width: 1450px;
    height: 55px;
    line-height: 55px;
    border: none;
}

.input_title textarea::placeholder {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.input_content textarea {
    width: 1450px;
    height: 375px;
    border: none;

    font-weight: bold;
    font-size: 23px;
    color: white;
    text-align: left;
}

.input_content textarea::placeholder {
    font-weight: bold;

    font-size: 23px;
    color: white;
    text-align: left;
}

.writing_btn {
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 10px;
}

.btn_clip {
    display: flex;
    flex-direction: row;
}

.btn_clip img {
    width: 50px;
    cursor: pointer;
}

#fileName {
    height: 50px;
    line-height: 50px;
    margin: 0px 20px;

    font-size: 20px;
    font-weight: 500;
}

.btn_upload button {
    width: 175px;
    height: 50px;
}

.writing_btn button {
    width: 150px;
    height: 50px;
    border-radius: 10px;

    font-size: 24px;
    font-weight: bold;
}

.btn_upload button {
    margin-right: 15px;
    background-color: white;
    color: #000032;
    border: none;
}

.btn_cancel button {
    border: 2px solid white;
}
