{{>layouts/header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            background-color: #000032;
            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
            Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
            'Noto Sans KR', 'Malgun Gothic', sans-serif;
            text-align: center;
            color: white;
        }

        hr {
            margin-top: 20px;
            width: 80%;
            margin: 0 auto;
        }

        table {
            width: 80%;
            margin: 10px auto;
            border-collapse: collapse;
        }

        th,
        td {
            border: none;
            padding: 8px;
            text-align: center;
        }

        th {
            font-size: 20px;
            font-weight: bolder;
            border-bottom: 2px solid rgb(204, 204, 204);
            padding-bottom: 15px;
        }

        td {
            font-size: 20px;
            font-weight: 300;
            border-bottom: 1.5px solid #ffffff1a;
            padding: 3px;
        }

        .notice {
            font-weight: 550;
            color: #ff8383;
        }

        .notice a {
            font-weight: 550;
            color: #ff8383;
        }

        .popularP {
            font-weight: 550;
            color: #9ec0ff;
            border-bottom: 1px solid white;
        }

        .popularP a {
            font-weight: 550;
            color: #9ec0ff;
        }

        .community {
            margin-top: 50px;
        }

        .first,
        .second {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 20px 0;
        }

        #sort {
            width: 200px;
            height: 40px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            margin-right: 20px;
            background-color: #f6f6f6cc;
            color: #000032;
        }

        #menuSearch {
            width: 400px;
            height: 40px;
            border-radius: 10px;
            margin-right: 20px;
            background-color: #f6f6f6cc;
            padding-left: 60px;
            background-image: url('../resources/static/img/search.png');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: 20px center;
            font-size: 18px;
            text-align: left;
            color: #000032;
            font-weight: 700;
        }

        #menuSearch::placeholder {
            font-size: 18px;
            text-align: left;
            padding-left: 20px;
            color: #000032;
            font-weight: 700;
        }

        #searchBtn {
            width: 70px;
            height: 40px;
            border-radius: 10px;
            margin-right: 20px;
            background-color: #f6f6f6cc;
            font-size: 18px;
            color: #000032;
            font-weight: 700;
        }

        .second {
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
        }

        #writeBtn {
            width: 150px;
            height: 40px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            margin-right: 20px;
            background-color: #f6f6f6cc;
            color: #000032;
        }

        #order {
            width: 110px;
            height: 40px;
            border-radius: 10px;
            margin-right: 20px;
            background-color: #f6f6f6cc;
            font-size: 18px;
            color: #000032;
            font-weight: 700;
            margin-right: 230px;
        }

        .page {
            margin-top: 40px;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .num {
            width: 35px;
            height: 35px;
            border: 1px solid white;
            border-radius: 5px;
            margin: 0 7px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #studyIcon {
            position: fixed;
            bottom: 100px;
            right: 150px;
            font-size: 150px;
            cursor: pointer;
            background-color: transparent;
        }

        .comment{
            font-size: 18px;
            margin-left: 5px;
            color: #ff8383;
        }
    </style>
</head>
<body>
<iframe
        src="./menu.html"
        frameborder="0"
        scrolling="no"
        style="width: 100%; height: 100px"
></iframe>

<div class="community">
    <div class="first">
        <div>
            <label for="sort"></label>
            <select name="sort" id="sort">
                <option value="all">전체 게시글</option>
                <option value="q&a">Q&A</option>
                <option value="notice">공지사항</option>
            </select>
        </div>

        <span class="menuItem">
          <input
                  type="text"
                  id="menuSearch"
                  placeholder="검색어를 입력해주세요"
          />
        </span>

        <button id="searchBtn">검색</button>
    </div>

    <div class="second">
        <button id="writeBtn">글 작성하기</button>

        <div>
            <label for="order"></label>
            <select name="order" id="order">
                <option value="latest">최신순</option>
                <option value="popular">인기순</option>
            </select>
        </div>
    </div>

    <hr />
    <table id="board">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr class="notice">
            <td class="notice">[공지사항]</td>
            <td class="notice"><a href="#">동아리 규칙</a><span class="comment">[3]</span></td>
            <td class="notice">ABC</td>
            <td class="notice">2024.06.20</td>
            <td class="notice">51</td>
        </tr>
        <tr class="notice">
            <td class="notice">[공지사항]</td>
            <td class="notice"><a href="#">4월 정산</a><span class="comment">[7]</span></td>
            <td class="notice">DEF</td>
            <td class="notice">2024.03.27</td>
            <td class="notice">41</td>
        </tr>
        <tr>
            <td class="popularP">[인기]</td>
            <td class="popularP"><a href="#">배고파용</a><span class="comment">[13]</span></td>
            <td class="popularP">GHI</td>
            <td class="popularP">2024.06.19</td>
            <td class="popularP">22</td>
        </tr>
        <tr>
            <td>30</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.06.19</td>
            <td>12</td>
        </tr>
        <tr>
            <td>29</td>
            <td><a href="#">bbb</a></td>
            <td>B</td>
            <td>2024.06.18</td>
            <td>7</td>
        </tr>
        <tr>
            <td>28</td>
            <td><a href="#">aaa</a></td>
            <td>A</td>
            <td>2024.06.17</td>
            <td>23</td>
        </tr>
        <tr>
            <td>27</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.06.16</td>
            <td>18</td>
        </tr>
        <tr>
            <td>26</td>
            <td><a href="#">bbb</a><span class="comment">[4]</span></td>
            <td>B</td>
            <td>2024.06.15</td>
            <td>10</td>
        </tr>
        <tr>
            <td>25</td>
            <td><a href="#">aaa</a></td>
            <td>A</td>
            <td>2024.06.14</td>
            <td>15</td>
        </tr>
        <tr>
            <td>24</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.06.13</td>
            <td>9</td>
        </tr>
        <tr>
            <td>23</td>
            <td><a href="#">bbb</a></td>
            <td>B</td>
            <td>2024.06.12</td>
            <td>20</td>
        </tr>
        <tr>
            <td>22</td>
            <td><a href="#">aaa</a><span class="comment">[1]</span></td>
            <td>A</td>
            <td>2024.06.11</td>
            <td>11</td>
        </tr>
        <tr>
            <td>21</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.06.10</td>
            <td>17</td>
        </tr>
        <tr>
            <td>20</td>
            <td><a href="#">bbb</a></td>
            <td>B</td>
            <td>2024.06.09</td>
            <td>13</td>
        </tr>
        <tr>
            <td>19</td>
            <td><a href="#">aaa</a><span class="comment">[2]</span></td>
            <td>A</td>
            <td>2024.06.08</td>
            <td>16</td>
        </tr>
        <tr>
            <td>18</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.06.07</td>
            <td>8</td>
        </tr>
        <tr>
            <td>17</td>
            <td><a href="#">bbb</a></td>
            <td>B</td>
            <td>2024.06.06</td>
            <td>22</td>
        </tr>
        <tr>
            <td>16</td>
            <td><a href="#">aaa</a><span class="comment">[3]</span></td>
            <td>A</td>
            <td>2024.06.05</td>
            <td>19</td>
        </tr>
        <tr>
            <td>15</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.06.04</td>
            <td>14</td>
        </tr>
        <tr>
            <td>14</td>
            <td><a href="#">bbb</a></td>
            <td>B</td>
            <td>2024.06.03</td>
            <td>25</td>
        </tr>
        <tr>
            <td>13</td>
            <td><a href="#">aaa</a></td>
            <td>A</td>
            <td>2024.06.02</td>
            <td>21</td>
        </tr>
        <tr>
            <td>12</td>
            <td><a href="#">ccc</a><span class="comment">[3]</span></td>
            <td>C</td>
            <td>2024.06.01</td>
            <td>16</td>
        </tr>
        <tr>
            <td>11</td>
            <td><a href="#">bbb</a></td>
            <td>B</td>
            <td>2024.05.31</td>
            <td>11</td>
        </tr>
        <tr>
            <td>10</td>
            <td><a href="#">aaa</a></td>
            <td>A</td>
            <td>2024.05.30</td>
            <td>18</td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href="#">ccc</a><span class="comment">[5]</span></td>
            <td>C</td>
            <td>2024.05.29</td>
            <td>23</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="#">bbb</a><span class="comment">[1]</span></td>
            <td>B</td>
            <td>2024.05.28</td>
            <td>14</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="#">aaa</a></td>
            <td>A</td>
            <td>2024.05.27</td>
            <td>9</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.05.26</td>
            <td>9</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.05.26</td>
            <td>9</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="#">ccc</a></td>
            <td>C</td>
            <td>2024.05.26</td>
            <td>9</td>
        </tr>
        </tbody>
    </table>

    <div class="page">
        <div class="num">1</div>
        <div class="num">2</div>
        <div class="num">3</div>
    </div>
</div>

<span id="studyIcon">📖</span>

<iframe
        src="./footer.html"
        frameborder="0"
        scrolling="no"
        style="width: 100%; height: 40px"
></iframe>
</body>
</html>
{{>layouts/footer}}
