{{>layouts/header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 페이지 1</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            background-color: #000032;
            font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
            Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
            'Noto Sans KR', 'Malgun Gothic', sans-serif;
            text-align: center;
            color: white;
        }

        .join {
            margin-top: 200px;
        }

        #inputNum,
        #inputPwd,
        #inputEmail {
            font-size: 20px;
            padding: 5px 10px;
            line-height: 20px;
            margin-bottom: 10px;
            width: 470px;
            height: 50px;
            border: 1px solid white;
            border-radius: 7px;
            background-color: #ccccd6;
            color: black;
        }

        #certifyBtn {
            font-size: 25px;
            font-weight: 700;
            padding: 5px 10px;
            line-height: 25px;
            margin-top: 20px;
            width: 500px;
            height: 65px;
            background-color: white;
            border-radius: 15px;
            color: #000032;
        }

        a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
<iframe
        src="./menu.html"
        frameborder="0"
        scrolling="no"
        style="width: 100%; height: 100px"
></iframe>

<div class="join">
    <input id="inputNum" type="text" placeholder="학번을 입력하세요" />
    <br />
    <input
            id="inputPwd"
            type="password"
            placeholder="이름을 입력하세요"
    />
    <br />
    <input
            id="inputEmail"
            type="text"
            placeholder="이메일 주소를 입력하세요"
    />
    <br>
    <button id="certifyBtn" onclick="location.href='./join2.html', alert('인증 번호를 전송하였습니다.')">
        인증 요청
    </button>
</div>

    <iframe
            src="./footer.html"
            frameborder="0"
            scrolling="no"
            style="width: 100%; height: 80px"
    ></iframe>
</body>
</html>
{{>layouts/footer}}
